@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We are a group of students at East Carolina University working to provide a site for NC centric vaccine locations</p>
<p>
    <br />Team Members:
</p>
<br />&nbsp Cameron Griffin
<br />&nbsp Lisa Maze
<br />&nbsp Chris Patera
<br />&nbsp Travien Snow
<br />&nbsp Connor Lingelbach
<br />&nbsp Evan White
