@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Questions and comments:</strong><a href="mailto:griffinca19@students.ecu.edu">Cameron Griffin</a>
</address>
