@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    101 Heart Dr<br />
    Greenville, NC 27834<br />
    <abbr title="Phone">P:</abbr>
    252-744-4611
</address>

<address>
    <strong>Questions:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
